day20-xml/schema/personschema.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.canloveme.top"
        elementFormDefault="qualified">
        <!--定义persons复杂元素-->

<element name="persons">
<complexType>
    <sequence>
        <!--定义person复杂元素-->
        <element name = "person">
            <complexType>
                <sequence>
                    <!--定义name和age简单元素-->
                    <element name="name" type="string"/>
                    <element name="age" type="string"/>
                </sequence>

            </complexType>
        </element>
    </sequence>
</complexType>

</element>
</schema>